<div class="mb-5">
  <p style="color: green"><%= notice %></p>

  <%= render "curriculum", locals: { curriculum: @curriculum } %>

  <div class="m-1 d-flex flex-row-reverse">
    <%= link_to "Edit this curriculum", edit_curriculum_path(@curriculum), class: "btn btn-primary" %>
  </div>
</div>
