<div class="row">
  <%= render partial: "sections/sidebar", locals: { site: @site, section: @section } %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h2 class="text-center"><%= link_to @site.name, site_sections_path(@site) %></h2>
    <div class="card">
      <% content_for :title, "New section participant" %>

      <div class="card-header">
        <h4>Enrolling Participants To Section</h4>
      </div>

      <div class="card-body">
        <%= render "form", site: @site, section: @section, section_participant: @section_participant %>
      </div>
    </div>
  </main>
</div>
