<div id="<%= dom_id participant %>">
  <p>
    <strong>Name:</strong>
    <%= participant.name %>
  </p>

  <p>
    <strong>Study:</strong>
    <%= participant.study_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= participant.category %>
  </p>

</div>
