<div class="mb-5">
  <p style="color: green"><%= notice %></p>
  <% content_for :title, "New user" %>
  <h4 class="text-center">Creating new user</h4>

  <div class="row">
    <%= render "form", user: @user %>
  </div>
</div>