<% content_for :title, "New user" %>

<div class="mb-5">
  <p style="color: green"><%= notice %></p>
  <h4 class="text-center">Creating new user</h4>

  <%= render "form", user: @user %>

  <div class="m-1">
    <%= link_to "Back", users_path, class: "btn btn-secondary" %>
  </div>
</div>
