<div class="row">
  <%= render partial: "sites/sidebar", locals: { site: @site } %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="card">
      <% content_for :title, "Editing section" %>
      <div class="card-header">
        <h4><%= @site.name %></h4>
      </div>
      <div class="card-body">
        <%= render "form", site: @site, section: @section %>
      </div>

      <div class="m-1">
        <%= link_to "Show this section", site_section_path(@site, @section), class: "btn btn-primary" %>
      </div>
    </div>
  </main>
</div>
