<div class="mb-3">
  <h3 class="text-center">
    New <%= @questionnaire.title.titleize %>
    <% if @participant %>
    for <%= @participant&.name%>
    <% end %>
  </h3>
  <%= render "form", response: @response %>
</div>
