// Sassy
@import "zephyr/variables";
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "zephyr/bootswatch";

.navbar-brand img {
  max-height: 75px;
}

.navbar .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
}

.nav-link {
  background: #6f42c1;
  min-width: 100px;
  color: white;
}

body {
  padding-top: 120px;
}
