<div class="row">
  <%= render partial: "sidebar", locals: { site: @site } %>

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="card">
      <p style="color: green"><%= notice %></p>

      <div class="card-header">
        <h4>Site Details</h4>
      </div>

      <div class="card-body">
        <%= render @site %>
      </div>

      <div class="m-5 d-flex flex-row-reverse">
        <%= link_to "Edit this site", edit_site_path(@site), class: 'btn btn-primary' %>
      </div>
    </div>
  </main>
</div>
